@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,200;1,600&family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: poppins, sans-serif;

}

/* menu */
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
}

ul {
    list-style: none;
    width: 14rem;
}

span {
    position: relative;
    margin-left: 0.5rem;
  
}
.menu ion-icon {
    color: #fff;
    font-size: 1.8vw;
}

.wrapper {
    width: 150%;
    display: flex;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    position: relative;
    min-width: 25%;
    background-color: #15CBA9;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.menu ul {
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
}

.menu img {
    max-width: 4rem;
    border-radius: 40px;
    display: flex;
    margin: auto;
    display: block;
}

.menu h2 {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    color: #fff;


}

nav {
    position: absolute;
    max-width: 10%;

}

nav a {
    position: relative;
    right: 6rem;

}
nav ul {
    margin-top: 12rem;
    padding-left: 1rem;   
}


.menu a:hover {
    color: #FFCD1C;
   
}

/* header */

.header {
    background-color: #FFCD1C;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 5rem;
}

.left>img {
    width: 10rem;
    height: 20rem;
    margin-top: 0;

}

.descricao-logo {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;

}

.sair-btn {
    padding: 5px;
    background: #29e0bf;
    border-radius: 3px;
    float: right;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;



}

.sair-btn:hover {
    background: turquoise;
}

/* content */

.content {
    background-color: #fff;
    min-height: 76%;

}


iframe {
    border: none;
    font-size: 1px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    margin: 10px 5px;
    width: 20vw;
    height: 1.7vw;
    font-size: 1vw;

}

.form p {
    color: #757474;
    display: flex;
    justify-content: center;
}

textarea {
    margin-left: 0.2rem;
    margin-bottom: 2vw;
    color: #757474;
    font-size: 1.2vw;
    font-family: sans-serif;
    width: 63.5vw;
}

.form h5 {
    color: #636262;
    font-size: 1.5vw;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 1.5vw;
}

#email {
    width: 47.6%;
}

#text {
    width: 47.6%;
}

h4 {
    font-size: 1.5vw;
    background-color: #FFCD1C;
    margin: 0;
    padding-left: 1rem;
    width: 0.0001rem;

}

#btn-contato {
    background-color: #FFCD1C;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 1.2vw;
    margin-bottom: 4%;
    cursor: pointer;
    border-radius: 8px;
}

.contato {
    background-color: #FFCD1C;
    display: flex;
    justify-content: start;
    padding-bottom: 10%;
}
.contato ion-icon {
    text-decoration: none;
    color: #FFCD1C;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    font-size: 1.8vw;
    font-weight: 500;
}


.contato a {
    text-decoration: none;
    color: #0f0f0f;
    text-align: right;
    font-size: 1.01vw;
}

.contato ul {
    list-style: none;
    width: 55rem;
    padding: 0;
} 

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #CCCCCC;
    min-height: 150px;

}

.rodape1 img {
    display: flex;
    justify-content: center;
    width: 16vw;
    margin-left: 2rem;

}

.atendimento {
    margin-top: 20px;
    width: 30%;
    margin-left: 1rem;

}

h6 {
    color: #333333;
    font-size: 1vw;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;


}


h5 {
    display: flex;
    justify-content: center;
    color: #333333;
    font-size: 1.3vw;
    margin: 0;
}


.rodape2 {
    display: block;
    justify-content: center;
    padding-top: 1%;
    margin-right: 1rem;
    width: 25%;
    font-size: 1vw;
}

.rodape2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rodape2 ion-icon {
    font-size: 2.2vw;
    color: #333333;
   
}

.rodape2 ul {
    display: contents;
    justify-items: center;
}

.rodape2 > span {
    font-size: 1.2vw;
}

.rodape3 {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #757474;
    color: white;
    font-size: 1vw;

}